html { font-family: sans-serif; }
html, body { margin: 0; padding: 0; border: 0; width: 100%; height: 100%; }
body { -webkit-user-select: none; user-select: none; color: #FFFFFF; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); background-color: #222222; }
div.clear { clear: both; }
.warn { color: #FF4848; }
a { color: #9CB53B; text-decoration: none; }
h1, h2, p { margin: 10px; }
li { margin: 10px 0; }

/* Toolbar */
#tools        { position: absolute; top: 0; left: 0; width: 66px; bottom: 0; text-align: center; }
#tools img    { float: left; }
#tools .color { float: left; width: 30px; height: 30px; line-height: 30px; margin: 2px 0 0 2px; cursor: pointer; }
#start,
#count,
#stop   { margin: 20px 2px 0 2px; line-height: 30px; border-radius: 15px; cursor: pointer; }
#start  { background-color: #4B9825; }
#count  { display: none; background-color: #E6981F; }
#stop   { display: none; background-color: #BB2222; }
#volume { background-color: #9CB53B; height: 2px; width: 50%; margin: 2px auto 0 auto; }
#time   { padding-top: 4px; font-size: 14px; }
#info   { display: block; width: 30px; height: 30px; line-height: 30px; border-radius: 15px; margin: 20px auto 0 auto; background-color: #275298; cursor: pointer; }
/* Stage */
#sketch { position: absolute; top: 0; left: 66px; width: 640px; height: 480px; background-color: #000000; cursor: none; overflow: hidden; }
canvas  { position: absolute; }
#cursor { position: absolute; pointer-events: none; }
#watermark { position: absolute; top: 3px; right: 3px; margin: 0; opacity: 0.3; }
/* Popup */
#popup { position: fixed; top: 0; bottom: 0; left: 0; right: 0; background-color: rgba(0, 0, 0, 0.8); }
#popup-box { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: #000000; box-shadow: 0 0 15px 1px #9CB53B; border-radius: 5px; }
#popup-close { position: absolute; top: 5px; right: 15px; width: 40px; height: 20px; line-height: 20px; border-radius: 10px; background-color: #9CB53B; cursor: pointer; text-align: center; }
#popup button { display: block; margin: 10px auto; padding: 0 20px; margin: 0 auto; height: 20px; line-height: 20px; border: 0; border-radius: 10px; background-color: #9CB53B; cursor: pointer; color: #FFFFFF; text-align: center; text-shadow: inherit; font-weight: bold; }
#popup .scroll { width: 400px; max-height: 500px; padding: 1px; }
	#warning-content { }
	#info-content    { display: none; }

.scroll { overflow: auto; }
.scroll::-webkit-scrollbar            { -webkit-appearance: none; }
.scroll::-webkit-scrollbar:vertical   { width: 10px; }
.scroll::-webkit-scrollbar:horizontal { height: 10px; }
.scroll::-webkit-scrollbar-thumb      { border-radius: 5px; border: 2px solid #000000; background-color: rgba(156, 181, 59, .5); }

#debug { margin: 10px 0 0 66px; width: 630px; height: 250px; padding: 5px; font-family: monospace; font-size: 12px; line-height: 1.4em; background-color: #111111; }